footer {
  display: flex;
  justify-content: center;
  background-color: #548f7d;
  color: #FFFFFF;
  transition: transform 0.3s ease-in-out;
  display: flex;
  font-size: 0.8rem;
}

.header {
  background: #548f7d;
  height: 4rem;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: ease-in-out 0.3s;
  overflow: hidden;
}
.header__homeS {
  margin-left: 1rem;
  font-size: 2rem;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__list {
  display: flex;
  gap: 3rem;
}
.header li {
  list-style: none;
  cursor: pointer;
}
.header a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.header a:hover {
  color: #00FFFF;
}
.header a:focus {
  outline: 3px solid #00FFFF;
}
.header .burgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  border: 2px solid black;
}
.header .burgerMenu span {
  background-color: black;
  width: 30px;
  height: 4px;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header__list {
    display: none;
  }
  .show {
    display: flex;
  }
  .header .burgerMenu {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 50px;
    height: 50px;
  }
  .header .burgerMenu__bar {
    border: 2px solid black;
    margin: 5px;
    color: black;
  }
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #64ccc5;
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.contact__header span {
  color: white;
}
.contact__span {
  color: #64ccc5;
}
.contact__article {
  padding: 4rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #04364a;
  color: white;
}
.contact__article h2 {
  line-height: 2rem;
}
.contact__article svg {
  height: 2rem;
}
.contact__text {
  display: flex;
  flex-direction: column;
}
.contact__icons {
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  color: #64ccc5;
}
.contact__iconDiv {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact__iconDiv p {
  font-size: 1rem;
  color: white;
}
.contact__form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  margin-left: 2rem;
}
.contact__form textarea {
  resize: none;
  overflow: auto;
}
.contact__form button {
  background-color: #176b87;
  color: white;
  border-radius: 45px;
  padding: 0.5rem;
}
.contact__form input,
.contact__form textarea {
  border-radius: 5px;
  padding: 0.5rem;
}

@keyframes grow_form {
  0% {
    transform: scale(0.1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotat {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button:focus,
input:focus,
textarea:focus {
  outline: 3px solid #00FFFF;
  opacity: 1;
}

* {
  font-family: poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  width: 100%;
  transition: padding-top 0.3s ease-in-out;
  justify-content: center;
}
.hero__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hero__imgdiv {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  object-fit: cover;
  object-position: center;
}
.hero__textdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 500px;
}
.hero__header {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.hero__text {
  margin-bottom: 1rem;
}
.hero__button--contact {
  background-color: #f7a542;
  width: 50%;
  padding: 10px 50px;
  font-weight: bold;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(247, 165, 66, 0.7);
  transition: transform 0.3s ease-in-out;
}
.hero__button--contact:hover {
  box-shadow: 0 0 15px rgb(247, 165, 66);
}
.hero__button--contact:active {
  transform: scale(0.9);
}

.projects {
  display: flex;
  scroll-margin-top: 3rem;
  justify-content: center;
  max-width: 80vw;
  flex: 1;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  overflow: visible;
}

.flip-card {
  width: 300px;
  height: 350px;
  perspective: 1000px;
  will-change: width, height;
}

.flip-card.expanded {
  width: 80vw;
  height: 90vh;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  border-radius: 12px;
  transform: rotateY(180deg);
  box-shadow: 0 0 15px rgb(247, 165, 66);
}

.flip-card.expanded .flip-card-inner {
  transform: rotateY(180deg); /* Keep it flipped */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  background: #f5f5f5;
}

.show {
  display: none;
}