@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../blocks/footer.scss" as *;
@use "../blocks/header" as *;

* {
  font-family: poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  width: 100%;

  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  &__imgdiv {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    object-fit: cover;
    object-position: center;
  }

  &__textdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 500px;
  }

  &__header {
    margin-bottom: 1rem;
    font-size: $h1size;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__button--contact {
    background-color: #f7a542;
    width: 50%;
    padding: 10px 50px;
    font-weight: bold;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(247, 165, 66, 0.7);
    transition: transform 0.3s ease-in-out;
  }

  &__button--contact:hover {
    box-shadow: 0 0 15px rgb(247, 165, 66, 1);
  }

  &__button--contact:active {
    transform: scale(0.9);
  }
}

.projects {
  display: flex;

  justify-content: center;
  max-width: 80vw;
  flex: 1;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  overflow: visible;
}

.flip-card {
  width: 300px;
  height: 350px;
  perspective: 1000px;
  will-change: width, height;
  
}

.flip-card.expanded {
  width: 80vw;
  height: 90vh;

}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  border-radius: 12px;
  transform: rotateY(180deg);
  box-shadow: 0 0 15px rgb(247, 165, 66, 1);
}


.flip-card.expanded .flip-card-inner {
  transform: rotateY(180deg); /* Keep it flipped */
  // box-shadow: none; /* Optional: Remove hover shadow */
}


.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  background: #f5f5f5;
}

.show{
  display: none;
}