footer {
  display: flex;
  justify-content: center;
  background-color: #D63333;
  color: #FFFFFF;
  transition: transform 0.3s ease-in-out;
  display: flex;
  font-size: 0.8rem;
}

.header {
  background: #D63333;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: ease-in-out 0.3s;
  overflow: hidden;
}
.header__homeS {
  margin-left: 1rem;
  font-size: 2rem;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__list {
  display: flex;
  gap: 3rem;
}
.header li {
  list-style: none;
  cursor: pointer;
}
.header a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.header a:hover {
  color: #00FFFF;
}
.header a:focus {
  outline: 3px solid #00FFFF;
}
.header .burgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  border: 2px solid black;
}
.header .burgerMenu span {
  background-color: black;
  width: 30px;
  height: 4px;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header__list {
    display: none;
  }
  .show {
    display: flex;
  }
  .header .burgerMenu {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 50px;
    height: 50px;
  }
  .header .burgerMenu__bar {
    border: 2px solid black;
    margin: 5px;
    color: black;
  }
}
* {
  font-family: poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  width: 100%;
  border: 5px solid black;
  justify-content: center;
}
.hero__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hero__imgdiv {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  object-fit: cover;
  object-position: center;
}
.hero__textdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 500px;
}
.hero__header {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.hero__text {
  margin-bottom: 1rem;
}

.projects {
  display: flex;
  border: 2px solid green;
  justify-content: center;
  max-width: 80vw;
  flex: 1;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}
.projects__content--grid {
  display: flex;
  width: 300px;
  height: 250px;
  border: 2px solid black;
}