.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #64ccc5;
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.contact__header span {
  color: white;
}
.contact__span {
  color: #64ccc5;
}
.contact__article {
  padding: 4rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #04364a;
  color: white;
}
.contact__article h2 {
  line-height: 2rem;
}
.contact__article svg {
  height: 2rem;
}
.contact__text {
  display: flex;
  flex-direction: column;
}
.contact__icons {
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  color: #64ccc5;
}
.contact__iconDiv {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact__iconDiv p {
  font-size: 1rem;
  color: white;
}
.contact__form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  margin-left: 2rem;
}
.contact__form textarea {
  resize: none;
  overflow: auto;
}
.contact__form button {
  background-color: #176b87;
  color: white;
  border-radius: 45px;
  padding: 0.5rem;
}
.contact__form input,
.contact__form textarea {
  border-radius: 5px;
  padding: 0.5rem;
}

@keyframes grow_form {
  0% {
    transform: scale(0.1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotat {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button:focus,
input:focus,
textarea:focus {
  outline: 3px solid #00FFFF;
  opacity: 1;
}